@media screen {
  img {
    height: auto;
    border-radius: 8px;
  }

  .new-trail, .signup, .edit-user, .login, .edit-trail {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 60%;
    height: auto;
  }

  input[type=text], input[type=url], input[type=password], input[type=email], select[type=text] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    width: 60%;
    margin-top: 6px;
  }

  label {
    padding: 8px;
    margin-top: 1px;
    float: left;
    width: 25%;
  }

  .form-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:right;
    margin: 12px 10%;
  }

  .form-button:hover {
    background-color: #45a049;
  }

  .container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
  }

  div.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    top: 20px;
    margin: 5% 25%;
    width: 50%;
    height: 125px;
    text-align: center;
    color: black;
    background: rgba(202, 205, 202, 0.5);
    border-radius: 8px;
  }

  .signup-button {
    position: absolute;
    width: 150px;
    top: 70%;
    left: 30%;
  }

  .login-button {
    position: absolute;
    width: 150px;
    top: 70%;
    left: 70%;
  }

  .container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .photo {
    max-width: 400px;
  }

  .photo img {
    max-width: 100%;
  }

  .trail_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 20px 10px 20px;
  }

  .button {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .container .button:hover {
    background-color: darkgreen;
    color: white;
  }

  .thumbnail-list {
    margin: 20px;
  }

  .thumbnail-list ul {
    list-style-type: none;
    width: 500px;
  }

  .thumbnail-list li img {
    float: left;
    margin: 0 15px 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 75px;
  }

  .thumbnail-list li {
    padding: 10px;
    overflow: auto;
  }

  .thumbnail-list li:hover {
    background: #eee;
    cursor: pointer;
  }
