<h1>Whooooops!</h1>

<br>
<% unless locals.empty? %>
  <b><%= message %></b>
<% end %>
Please hit the button below to go back to the previous page.
<br>
<br>

<button onclick="goBack()">Go Back</button>
<script>
function goBack() {
  window.history.back();
}
</script>
