<head>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
</head>
<h2>Login to your Trail Tracker account</h2>
<div class="login">
  <form method="post" action="/login">
  <label for="name">Username: </label>
  <input type="text" name="username" placeholder="Username:">
  <label for="password">Password: </label>
  <input type="password" name="password" placeholder="Password:"><br>
  <input type="submit" value="Submit" class="form-button">
  </form>
</div>
