<h2>Login to your Trail Tracker account</h2>
<br>
<form method="post" action="/login">
Username:<br>
<input type="text" name="username" size= "35" placeholder="Username:"><br>
<br>
Password:<br>
<input type="password" name="password" size= "35" placeholder="Password:"><br>
<br>
<input type="submit" value="submit">
</form>
