<head>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
</head>
<h2>Sign Up</h2>
<div class="signup">
  <form action="/signup" method="POST">
    <label for="name">Username: </label>
    <input type="text" name="username" placeholder="Username:">
    <label for="name">Email: </label>
    <input type="email" name="email" placeholder="Email:">
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="Password:">
    <label for="Location">Location: </label>
    <input type="text" name="location" placeholder="ie. Denver, CO">
    <br>
    <input type="submit" class="form-button">
  </form>
</div>
