<h1>Sign Up</h1>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <p>Location: <input type="text" name="location" placeholder="ie. New York, NY"></p>
  <input class="btn btn-primary" type="submit">
</form>
