<h1>Create a new trail!</h1>

<form action="/trails" method="post">
  <label for="name">Name:</label>
  <input type="text" name="trail[name]" value=""><br>
  <label for="location">Location:</label>
  <input type="text" name="trail[location]" value=""><br>
  <label for="miles">Miles:</label>
  <input type="text" name="trail[miles]" value=""><br>
  <label for="elevation_gain">Elevation Gain:</label>
  <input type="text" name="trail[elevation_gain]" value=""><br>
  <label for="difficulty">Difficulty:</label>
  <input type="text" name="trail[difficulty]" value=""><br>
  <input type="submit" value="Create a trail!">
</form>
