<h2>Welcome to Trail Tracker!</h2>
<br>
<p>To track your hiking activity, please Log in or Sign Up below:</p>

<nav>
  <form action="/login">
      <input type="submit" value="Log In"/><br>
  </form>
  <form action="/signup">
      <input type="submit" value="Sign Up"/>
  </form>
</nav>
