<head>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
</head>

<div class="container">
<img src="/images/hiking_image.jpg">
  <div class="welcome">
    <h1>Plan your next adventure</h1>
    <br>
    <div class="welcome-buttons">
      <form action="/signup">
        <input type="submit" value="Sign Up" class="button signup-button"/>
      </form>
      <form action="/login">
        <input type="submit" value="Log In" class="button login-button"/>
      </form>
    </div>
  </div>
</div>
