<head>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
</head>

<div class="container">
<img src="/images/hiking_image.jpg">
  <h1>Find your next adventure</h1>
  <form action="/signup">
    <input type="submit" value="Sign Up" class="button signup-button"/>
  </form>
  <form action="/login">
    <input type="submit" value="Log In" class="button login-button"/>
  </form>
</div>
